:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 18px/145% var(--sans);

  background: transparent !important;
  background-color: transparent !important;
}

body {
  margin: 0;
  background: transparent !important;
  background-color: transparent !important;
}
